<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @blog_post.url %>
</p>

<p>
  <strong>Published:</strong>
  <%= @blog_post.published %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @blog_post.publish_date %>
</p>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
