<p id="notice"><%= notice %></p>

<p>
  <strong>Screen name:</strong>
  <%= @priority.screen_name %>
</p>

<p>
  <strong>Ordering:</strong>
  <%= @priority.ordering %>
</p>

<%= link_to 'Edit', edit_priority_path(@priority) %> |
<%= link_to 'Back', priorities_path %>
