<p id="notice"><%= notice %></p>

<h1>Listing Banner Formats</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Height</th>
      <th>Width</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banner_formats.each do |banner_format| %>
      <tr>
        <td><%= banner_format.title %></td>
        <td><%= banner_format.height %></td>
        <td><%= banner_format.width %></td>
        <td><%= link_to 'Show', banner_format %></td>
        <td><%= link_to 'Edit', edit_banner_format_path(banner_format) %></td>
        <td><%= link_to 'Destroy', banner_format, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner format', new_banner_format_path %>
